.root {
    display: table;
    width: 100%
}
.app {
    display: table-cell;
    width: 50%;
}

.App {
    color: pink;
}
.data {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}
.data.loading {
    color: grey;
}
