.root {
    display: table;
    width: 100%
}
.app {
    display: table-cell;
    width: 50%;
}

.App {
    color: #BB4444;
}
.data {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}
.data.loading {
    transition: 2s ease;
    color: yellow;
}
.data-notloaded {
    color: grey;
}
.SomeComponent {
    border: 1px solid blue;
    padding:10px;
}

.title {
    font-size: 2em;
}
.external {
    border: 1px solid grey;
    padding: 10px;
}
.external.loading {
    color:red;
    font-size:20px;
}
.external.not-loading {
    color: grey;
}
